@font-face {
    font-family: Lato;  
    src: url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700;1,900&display=swap);  
    /* Also added Lato font files to assets folder in case that's the preferred way. */ 
}
.is-style-mst-heading{
    /* color: yellow; */
    font-family: Lato;
    font-weight: bold;
}
.is-style-mst-paragraph{
    /* color: yellow; */
    font-family: Lato;
}